.view-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    margin-right: 10px;
    &.active {
      background: #282828;
      color: white;
    }
  }
}

@media screen and (max-width: 600px) {
  .view-selector {
    button {
      display: flex;
      justify-content: center;
      flex: 1;
      padding: 10px;
      font-size: 14px;
      margin-right: 5px;
      &:first-child {
        margin-left: 5px;
      }
    }
  }
}